html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  background-color: $veryPaleBlue;
  background-image: url("/images/bg-pattern.svg");
  font-family: "Manrope", sans-serif;
  font-size: $fontDef;
  background-size: 100% 514px;
  background-repeat: no-repeat;
  background-position: center top;
  @include breakpoint-down(small) {
    background-size: 901px 450px;
    background-position: left top;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.contpad {
  &-px {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
    @include breakpoint-down(small){
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &-mxW {
    @include breakpoint-down(small) {
      max-width: 20.5625rem;
    }
  }
}

.attribution {
  text-align: center;
}
