.main {
  //base stuff
  color: $grayishBlue;
 
  &__wrapper {
    display: block;
    background-color: $white;
    max-width: 600px;
    margin: 0 auto;
    border-radius: $smRad;
    
    @include breakpoint-down(small){
      max-width: 20.9375rem;
      margin: 0 auto;
      margin-top: -80px;
      border-radius: $smRad;
    }
    -webkit-box-shadow: 1px 2px 25px 16px rgba(165,243,235,0.26), 1px 2px 6px 1px rgba(65,96,93,0.17); 
    box-shadow: 1px 2px 25px 16px rgba(165,243,235,0.26), 1px 2px 6px 1px rgba(65,96,93,0.17);
  }

  &__grid {
    @include breakpoint-up(medium){
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    grid-template-rows: 1fr 0.1fr repeat(2, 1fr);
    grid-template-areas:
      "top top2 top2"
      "slider slider slider"
      "mid switch mid2"
      "bot bot cta";
    }
    @include breakpoint-down(small){
      display: grid;
      grid-template-columns: 1fr .2fr 1fr;
      grid-template-rows: .5fr .2fr 1fr .7fr repeat(2, 1fr);
      grid-template-areas: 
      "top top top" 
      "slider slider slider" 
      "top2 top2 top2" 
      "mid switch mid2" 
      "bot bot bot"
      "cta cta cta";
      margin: 0 auto;
      padding-top: 1.3125rem;
     
    }
    .topText {
      grid-area: top;
      justify-self: start;
      align-self: center;
      p {
        text-transform: uppercase;
        font-weight: $medium;
        letter-spacing: 2px;
      }
      @include breakpoint-down(small){
        justify-self: center;
        align-self: end;
        p{
          font-size: $smallPP;
        }
      }
    }
    .topText2 {
      grid-area: top2;
      justify-self: end;
      align-self: center;
      p {
        display: flex;
        align-items: center;
      }
      @include breakpoint-down(small){
        justify-self: center;
        align-self: center;
        b {
          font-size: 1.75rem;
        }
      }
    }
    b {
      color: $darkDesatBlue;
      font-size: 2.5rem;
      margin-right: 0.625rem;
    }
    .rangeSlider {
      grid-area: slider;
      justify-self: center;
      justify-self: center;
      align-self: center;
      margin-top: 1.25rem;
      @include breakpoint-down(small){
        justify-self: center;
        align-self: center;
        
      }
      input[type="range"] {
        cursor: pointer;
        width: 31.25rem;
        @include breakpoint-down(small){
          width: 15.625rem;
        }
        //internet blelow
        &::-ms-fill-lower {
          background: $softCyan;
        }
        &::-ms-fill-upper {
          background: $lightGrayishBlue;
        }
        //moz bellow
        &::-moz-range-progress {
          background: $softCyan;
          height: 8.4px;
          border-radius: $mRad;
        }
        &::-moz-range-track {
          background: $lightGrayishBlue;
          height: 8.4px;
          border-radius: $mRad;
        }
        &::-moz-range-thumb {
          background-image: url("/images/icon-slider.svg");
          background-size: 23px;
          background-repeat: no-repeat;
          background-position: center;
          width: 40px;
          height: 40px;
          border-radius: 50px;
          background-color: $strongCyan;
          border: 1px solid $strongCyan;
          transition: all 300ms ease-in-out;
          //spready shadow
          -webkit-box-shadow: 0px 6px 35px 3px #a5f3eb,
            0px 3px 22px 5px rgba(69, 101, 97, 0.15);
          box-shadow: 0px 6px 35px 3px #a5f3eb,
            0px 3px 22px 5px rgba(69, 101, 97, 0.15);
            &:hover{
              background-color: $grayishBlue;
              border: 1px solid $grayishBlue;
            }
        }
      }
    }
    .midText {
      grid-area: mid;
      justify-self: end;
      font-size: $midText;
      align-self: center;
      @include breakpoint-down(small){
        justify-self: end;
        align-self: baseline;
        font-size: $smallMidText;
        margin-right: $margMid;
      }
      
    }
    .backOn{
      background-color: $mediumCyan;
      &:hover {
        background-color: $thumbCol2;
      }
    }
    .backOff{
      background-color: $switchCol;
      &:hover {
        background-color: $softCyan;
      }
    }
    .switchBut {
      grid-area: switch;
      cursor: pointer;
      width: 44px;
      height: 1.4375rem;
     // background-color: $switchCol;
      justify-self: center;
      align-self: center;
      border-radius: $smRad;
      transition: background 200ms ease-in-out;
      @include breakpoint-down(small){
        justify-self: center;
        align-self: baseline;
      }
        .spanBut {
        display: inline-block;
        width: 0.875rem;
        height: 0.875rem;
        background-color: white;
        border-radius: 3.125rem;
        position: relative;
        left: .25rem;
        top: 0.125rem;
        transition: all 300ms ease-in-out;
      }
        .spanButOn{
          left: 1.5625rem;
        }
        .spanButOff{
          left: .25rem;
        }
    }
    .midText2 {
      grid-area: mid2;
      font-size: $midText;
      align-self: center;
      @include breakpoint-down(small){
        font-size: $smallMidText;
        justify-self: start;
        align-self: baseline;
        margin-left: $margMid;
      }
      span {
        color: $lightRed;
        font-size: $discText;
        font-weight: $medium;
        background-color: $lightGrayishRed;
        padding: 0.1875rem 0.4375rem 0.1875rem 0.4375rem;
        border-radius: $mRad;
        margin-left: 0.5rem;
        @include breakpoint-down(small){
    
          &::after{
          content: '-25%';
          font-size: 0.75rem;
          margin-left: 0;

        }
        }
        @include breakpoint-up(medium){
        &::before{
          content: '25% discount';
        }
      }
      }
    }
    .botText {
      grid-area: bot;
      @include breakpoint-down(small){
        justify-self: center;
        align-self: center;
        ul{
          text-align: center;
          padding: 0;
        }
      }
      ul {
        list-style-image: url("/images/icon-check.svg");
        line-height: 2.2;
        font-size: 0.875rem;
        @include breakpoint-down(small){
          font-size: $smallMidText;
        }
      }
    }

    .cta {
      grid-area: cta;
      justify-self: end;
      align-self: center;
      @include breakpoint-down(small){
        justify-self: center;
        align-self: center;
      }
      a {
        display: block;
        text-decoration: none;
        background-color: $darkDesatBlue;
        color: $paleBlue;
        font-weight: $medium;
        padding: 13px 47px 13px 47px;
        border-radius: $mRad;
        transition: all 400ms cubic-bezier(.14,1.95,.83,.67);
        overflow:hidden;
        &:hover {
          display: block;
          color: $white;
          transform: scale(110%);
          text-shadow: 0px 3px 5px rgba(236,246,255,0.21);
          &::after{
            content: "";
            background-color: hsla(228, 17%, 55%, 0.281);
            transform: scaleY(10000%) scaleX(2000%) translateX(-10px) rotate(35deg);
            width: 2px; 
            height: 2px;
            display: inline-block;
            position: relative;
            animation: 400ms slide cubic-bezier(.21,.43,.46,.8);
           
          }
       
        }
        @include breakpoint-down(small){
          font-size: 0.75rem;
          padding: 10px 40px 10px 40px;
        }
 
      }
    }
  }
  hr {
    display: inline-block;
    width: 602px;
    position: relative;
    bottom: 131px;
    left: -48px;
    border: 1px solid $veryPaleBlue;
    @include breakpoint-down(small){
      bottom: 200px;
      width: 336px;
      left: -11px;
    }
  }
  .invisible {
    opacity: 0;
  }
}
